<section id="about-me" class="ts-block pb-4">
    <div class="container">
        <div class="ts-title text-center">
            <h2>{{ with .Site.Params.about.headTitle }}{{ . | markdownify }}{{ end }}</h2>
        </div>
        <!--end ts-title-->
        <div class="row ts-align__vertical">
            <div class="col-md-6">
                <img src="img/{{ with .Site.Params.about.img }}{{ . }}{{ end }}" alt="" class="mw-100 mb-5">
            </div>
            <div class="col-md-6">
                <h4 class="ts-bubble-border"><i></i><i></i><i></i><i></i><i></i>
                    {{ with .Site.Params.about.hello }}{{ . }}{{ end }}</h4>
                <p>{{ with .Site.Params.about.description }}{{ . | markdownify }}{{ end }}</p>
                <dl class="ts-column-count-2">
                    {{ range .Site.Params.about.info }}
                    <dt>{{ .field }}</dt>
                    <dd>{{ .value }}</dd>
                    {{ end }}
                </dl>
                <hr class="ts-hr-light mb-5">
                <a href="#contact" class="ts-btn-effect mr-2">
                    <span class="ts-visible btn btn-primary ts-btn-arrow">
                        {{ with .Site.Params.about.contactText }}{{ . | markdownify }}{{ end }}
                    </span>
                    <span class="ts-hidden btn btn-primary ts-btn-arrow" data-bg-color="#d44729" style="background-color: rgb(212, 71, 41); border-color: rgb(212, 71, 41);">
                        {{ with .Site.Params.about.contactText }}{{ . | markdownify }}{{ end }}
                    </span>
                </a>
                <a href="#contact" class="ts-btn-effect mr-2">
                    <span class="ts-visible btn btn-outline-light">
                        <i class="fa fa-download small mr-2"></i>
                        {{ with .Site.Params.about.downCVText }}{{ . | markdownify }}{{ end }}
                    </span>
                    <span class="ts-hidden btn btn-light bg-white">
                        <i class="fa fa-download small mr-2"></i>
                        {{ with .Site.Params.about.downCVText }}{{ . | markdownify }}{{ end }}
                    </span>
                </a>
            </div>
        </div>
        <!--end row-->
    </div>
</section>