<footer id="ts-footer" class="mt-5">

    <section id="contact" class="ts-block ts-separate-bg-element" data-bg-image="img/bg-man-wall.jpg"
        data-bg-image-opacity=".1">
        <div class="container">
            <div class="ts-title text-center">
                <h2 class="ts-bubble-border"><i></i><i></i><i></i><i></i><i></i>
                    {{ with .Site.Params.footer.headTitle }}{{ . | markdownify }}{{ end }}
                </h2>
            </div>
            <div class="row ts-xs-text-center ">
                {{ range $i,$e := .Site.Params.footer.contactMethods }}
                <div class="col-sm-6 col-md-3 mb-4" data-animate="ts-fadeInUp" data-delay=".{{$i}}s" style="visibility: hidden;">
                    <img src="img/{{ .img }}" class="mb-4" alt="">
                    <h5>{{ .method | markdownify }}</h5>
                    <div class="ts-opacity__50">
                        <figure>{{ .value | markdownify }}</figure>
                    </div>
                    <!--end ts-opacity__50-->
                </div>
                {{ end }}
                <!--end col-md-3-->
            </div>
            <!--end row-->

            <div class="pt-5">
                <div class="row">
                    <div class="col-md-4" style="display: none">
                        <h3>Let’s Connect</h3>
                        <div class="ts-column-count-sm-2">
                            <a href="#" class="mb-3 d-flex text-white ts-align__vertical">
                                <span class="ts-circle__xs border border-white ts-border-light mr-4">
                                    <i class="fab fa-facebook-f"></i>
                                </span>
                                <span>Facebook</span>
                            </a>
                            <!--end link-->
                            <a href="#" class="mb-3 d-flex text-white ts-align__vertical">
                                <span class="ts-circle__xs border border-white ts-border-light mr-4">
                                    <i class="fab fa-twitter"></i>
                                </span>
                                <span>Twitter</span>
                            </a>
                            <!--end link-->
                            <a href="#" class="mb-3 d-flex text-white ts-align__vertical">
                                <span class="ts-circle__xs border border-white ts-border-light mr-4">
                                    <i class="fab fa-instagram"></i>
                                </span>
                                <span>Instagram</span>
                            </a>
                            <!--end link-->
                            <a href="#" class="mb-3 d-flex text-white ts-align__vertical">
                                <span class="ts-circle__xs border border-white ts-border-light mr-4">
                                    <i class="fab fa-pinterest-p"></i>
                                </span>
                                <span>Pinterest</span>
                            </a>
                            <!--end link-->
                            <a href="#" class="mb-3 d-flex text-white ts-align__vertical">
                                <span class="ts-circle__xs border border-white ts-border-light mr-4">
                                    <i class="fab fa-skype"></i>
                                </span>
                                <span>Skype</span>
                            </a>
                            <!--end link-->
                        </div>
                    </div>
                    <!--end col-md-4-->
                    <div class="col-md-8">
                        <h3>Send Me a Message</h3>
                        <form id="form-contact" method="post" class="clearfix ts-form ts-form-email" data-php-path="assets/php/email.php">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="form-contact-name">Name *</label>
                                        <input type="text" class="form-control" id="form-contact-name" name="name"
                                            placeholder="Name" required="">
                                    </div>
                                    <!--end form-group -->
                                </div>
                                <!--end col-md-6 col-sm-6 -->
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="form-contact-email">Email *</label>
                                        <input type="email" class="form-control" id="form-contact-email" name="email"
                                            placeholder="Email" required="">
                                    </div>
                                    <!--end form-group -->
                                </div>
                                <!--end col-md-6 col-sm-6 -->
                            </div>
                            <!--end row -->
                            <div class="form-group">
                                <label for="form-contact-subject">Subject *</label>
                                <input type="email" class="form-control" id="form-contact-subject" name="subject"
                                    placeholder="Subject" required="">
                            </div>
                            <!--end form-group -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="form-contact-message">Message *</label>
                                        <textarea class="form-control" id="form-contact-message" rows="5" name="message"
                                            placeholder="Message" required=""></textarea>
                                    </div>
                                    <!--end form-group -->
                                </div>
                                <!--end col-md-12 -->
                            </div>
                            <!--end row -->
                            <div class="form-group clearfix">
                                <button type="submit" class="btn btn-primary float-right ts-btn-arrow" id="form-contact-submit">
                                    <div class="status"><i class="fas fa-circle-notch fa-spin spinner"></i></div><span>Send
                                        a Message</span>
                                </button>
                            </div>
                            <!--end form-group -->
                            <div class="form-contact-status"></div>
                        </form>
                        <!--end form-contact -->
                    </div>
                </div>
                <!--end row-->
            </div>
        </div>
        <!--end container-->
        <div class="ts-background">
            <div class="ts-background-image" style="background-image: url(&quot;img/bg-man-wall.jpg&quot;); opacity: 0.1;"></div>
        </div>
    </section>
    <!--end #contact-->

    <div class="text-dark bg-white">
        <div class="container py-3 position-relative">
            <small>© 2018 ThemeStarz, All Rights Reserved</small>
            <a href="#page-top" class="ts-circle__xs rounded-0 bg-dark position-absolute ts-right__0 ts-top__0 ts-push-up__50 ts-scroll">
                <i class="fa fa-arrow-up text-white"></i>
            </a>
        </div>
    </div>

</footer>