<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ with .Site.Params.description }}
    <meta name="description" content="{{ . }}">{{ end }}
    {{ with .Site.Params.author }}
    <meta name="author" content="{{ . }}">{{ end }}
    {{ with .Site.Params.favicon }}
    <link rel="shortcut icon" type="image/x-icon" href="{{ . | absURL }}">
    <link rel="icon" type="image/x-icon" href="{{ . | absURL }}">
    {{ end }}

    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/fontawesome-all.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/odometer-theme-default.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/myResume.css">

    <title>{{ with .Site.Title }}{{ . }}{{ end }}</title>
</head>