<div id="ts-hero" class="ts-animate-hero-items">
    <!--HERO CONTENT ****************************************************************************************-->
    <div class="container position-relative h-100 ts-align__vertical">
        <div class="row w-100">
            <div class="col-md-8">
                <!--SOCIAL ICONS-->
                <figure class="ts-social-icons mb-4">
                    {{ range .Site.Params.hero.socialIcon }}
                    <a href="{{ .href }}" class="mr-3">
                        <i class="fab fa-{{ .name}}"></i>
                    </a>
                    {{ end }}
                </figure>

                <!--TITLE -->
                {{ with .Site.Params.hero.description }}<h1>{{ . }}</h1>{{ end }}
                <h1 class="ts-bubble-border in" style="width: 464.5px; height: 115px;"><i></i><i></i><i></i><i></i><i></i>
                    <span id="titles" class="ts-title-rotate">
                        {{ range .Site.Params.hero.title }}
                        <span class="">{{ .name }}</span>
                        {{ end }}
                    </span>
                </h1>

            </div>
            <!--end col-md-8-->
        </div>
        <!--end row-->
        <a href="#my-services" class="ts-btn-effect position-absolute ts-bottom__0 ts-left__0 ts-scroll ml-3 mb-3">
            <span class="ts-visible ts-circle__sm rounded-0 ts-bg-primary">
                <i class="fa fa-arrow-down text-white"></i>
            </span>
            <span class="ts-hidden ts-circle__sm rounded-0">
                <i class="fa fa-arrow-down text-white"></i>
            </span>
        </a>

    </div>
    <!--end container-->
    <!--END HERO CONTENT ************************************************************************************-->

    <!--HERO BACKGROUND *************************************************************************************-->
    {{ with .Site.Params.hero.backgroundImg }}
    <div class="ts-background">
        <div class="ts-background-image" data-bg-image="img/{{ . }}" style="background-image: url('img/{{ . }}');"></div>
    </div>
    {{ end }}
    <!--END HERO BACKGROUND *********************************************************************************-->

</div>