<div id="ts-hero" class="ts-animate-hero-items">

        <!--HERO CONTENT ****************************************************************************************-->
        <div class="container position-relative h-100 ts-align__vertical">
            <div class="row w-100">
                <div class="col-md-8">
                    <!--SOCIAL ICONS-->
                    <figure class="ts-social-icons mb-4">
                        <a href="#" class="mr-3">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="#" class="mr-3">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="mr-3">
                            <i class="fab fa-pinterest"></i>
                        </a>
                        <a href="#" class="mr-3">
                            <i class="fab fa-slack"></i>
                        </a>
                        <a href="#" class="mr-3">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </figure>

                    <!--TITLE -->
                    <h1>I am Jonathan Doe</h1>
                    <h1 class="ts-bubble-border in" style="width: 464.5px; height: 115px;"><i></i><i></i><i></i><i></i><i></i>
                        <span class="ts-title-rotate">
                            <span class="">Designer</span>
                            <span class="">Photographer</span>
                            <span class="active">Creative Person</span>
                        </span>
                    </h1>

                </div>
                <!--end col-md-8-->
            </div>
            <!--end row-->
            <a href="#my-services" class="ts-btn-effect position-absolute ts-bottom__0 ts-left__0 ts-scroll ml-3 mb-3">
                <span class="ts-visible ts-circle__sm rounded-0 ts-bg-primary">
                    <i class="fa fa-arrow-down text-white"></i>
                </span>
                <span class="ts-hidden ts-circle__sm rounded-0">
                    <i class="fa fa-arrow-down text-white"></i>
                </span>
            </a>

        </div>
        <!--end container-->
        <!--END HERO CONTENT ************************************************************************************-->

        <!--HERO BACKGROUND *************************************************************************************-->
        <div class="ts-background">
            <div class="ts-background-image" data-bg-image="img/bg-hero.jpg" style="background-image: url(&quot;img/bg-hero.jpg&quot;);"></div>
        </div>
        <!--END HERO BACKGROUND *********************************************************************************-->

    </div>