<section class="ts-block">
    <div class="container">
        <div class="text-center px-5 pt-5 position-relative">
            <h3 class="my-3">
                {{ with .Site.Params.invite.inviteText }}{{ . | markdownify }}{{ end }}
            </h3>
            <a href="#contact" class="btn btn-primary mr-2 ts-push-down__50 ts-has-talk-arrow">
                {{ with .Site.Params.invite.hireMe }}{{ . | markdownify }}{{ end }}
            </a>
            {{ with .Site.Params.invite.img }}
            <div class="ts-background ts-opacity__20" data-bg-image="img/{{ . }}" style="background-image: url('img/{{ . }}');"></div>
            {{ end }}
        </div>
    </div>
</section>