<section class="ts-block">
    <div class="container">
        <div class="text-center px-5 pt-5 position-relative">
            <h3 class="my-3">
                Let’s Work Together On Your Next Project!
            </h3>
            <a href="#contact" class="btn btn-primary mr-2 ts-push-down__50 ts-has-talk-arrow">Hire Me Now!</a>
            <div class="ts-background ts-opacity__20" data-bg-image="img/bg-keyboard.jpg" style="background-image: url(&quot;img/bg-keyboard.jpg&quot;);"></div>
        </div>
    </div>
</section>