<section id="partners" class="ts-block py-4">
    <!--container-->
    <div class="container">
        <!--block of logos-->
        <div class="d-block d-md-flex justify-content-between align-items-center text-center ts-partners py-3">
            <a href="#">
                <img src="img/logo-01-w.png" alt="">
            </a>
            <a href="#">
                <img src="img/logo-02-w.png" alt="">
            </a>
            <a href="#">
                <img src="img/logo-03-w.png" alt="">
            </a>
            <a href="#">
                <img src="img/logo-04-w.png" alt="">
            </a>
            <a href="#">
                <img src="img/logo-05-w.png" alt="">
            </a>
        </div>
        <!--end logos-->
    </div>
    <!--end container-->
</section>