<section class="ts-block pb-5" id="portfolio">
    <div class="container">
        <div class="ts-title">
            <h2>
                {{ with .Site.Params.portfolio.headTitle }}{{ . | markdownify }}{{ end }}
            </h2>
        </div>
        <!--end ts-title-->
        <div class="card-columns ts-gallery ts-column-count-4">
            {{ range .Site.Params.portfolio.item }}
            <a href="img/{{ .img }}" class="card ts-gallery__item popup-image" data-animate="ts-fadeInUp" style="visibility: hidden;">
                <div class="ts-gallery__image">
                    <div class="ts-gallery__item-description">
                        <h6 class="ts-opacity__50">{{ .text }}</h6>
                        <h4>{{ .subtext }}</h4>
                    </div>
                    <img src="img/{{ .img }}" class="card-img" alt="">
                    <!--end ts-gallery__image-->
                </div>
            </a>
            {{ end }}
        </div>
        <!--end ts-gallery-->
    </div>
    <!--end container-->
</section>