<section id="my-services" class="ts-block ts-xs-text-center pb-0">
        <div class="container">
            <div class="ts-title text-center">
                <h2>My Services</h2>
            </div>
            <!--end ts-title-->
            <div class="row">
                <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="ts-item" data-animate="ts-fadeInUp" style="visibility: hidden;">
                        <div class="ts-item-content">
                            <div class="ts-item-header">
                                <figure class="icon">
                                    <img src="img/icon-brushes.png" alt="">
                                </figure>
                                <!--end icon-->
                            </div>
                            <!--end ts-item-header-->
                            <div class="ts-item-body">
                                <h4>Web Design</h4>
                                <p class="mb-0">
                                    Duis molestie enim mattis gravida viverra. Fusce ut eros augue. Sed id mauris vel neque
                                </p>
                            </div>
                            <!--end ts-item-body-->
                            <div class="ts-item-footer">
                                <a href="#" data-toggle="modal" data-target="#modal" class="ts-link-arrow-effect">
                                    <span>Read More</span>
                                </a>
                            </div>
                            <!--end ts-item-footer-->
                        </div>
                        <!--end ts-item-content-->
                    </div>
                    <!--end ts-item-->
                </div>
                <!--end col-xl-4-->
                <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="ts-item" data-animate="ts-fadeInUp" data-delay=".1s" style="animation-delay: 0.1s; visibility: hidden;">
                        <div class="ts-item-content">
                            <div class="ts-item-header">
                                <figure class="icon">
                                    <img src="img/icon-camera.png" alt="">
                                </figure>
                                <!--end icon-->
                            </div>
                            <!--end ts-item-header-->
                            <div class="ts-item-body">
                                <h4>Photography</h4>
                                <p class="mb-0">
                                    Fusce lorem ex, fringilla eget consequat ut, molestie sit amet nibh. Nullam vitae tincidunt
                                </p>
                            </div>
                            <!--end ts-item-body-->
                            <div class="ts-item-footer">
                                <a href="#" data-toggle="modal" data-target="#modal" class="ts-link-arrow-effect">
                                    <span>Read More</span>
                                </a>
                            </div>
                            <!--end ts-item-footer-->
                        </div>
                        <!--end ts-item-content-->
                    </div>
                    <!--end ts-item-->
                </div>
                <!--end col-xl-4-->
                <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="ts-item" data-animate="ts-fadeInUp" data-delay=".2s" style="animation-delay: 0.2s; visibility: hidden;">
                        <div class="ts-item-content">
                            <div class="ts-item-header">
                                <figure class="icon">
                                    <img src="img/icon-video.png" alt="">
                                </figure>
                                <!--end icon-->
                            </div>
                            <!--end ts-item-header-->
                            <div class="ts-item-body">
                                <h4>Video Editing</h4>
                                <p class="mb-0">
                                    Aenean pretium nulla libero, vitae iaculis libero efficitur a. Fusce ut augue finibus quam
                                </p>
                            </div>
                            <!--end ts-item-body-->
                            <div class="ts-item-footer">
                                <a href="#" data-toggle="modal" data-target="#modal" class="ts-link-arrow-effect">
                                    <span>Read More</span>
                                </a>
                            </div>
                            <!--end ts-item-footer-->
                        </div>
                        <!--end ts-item-content-->
                    </div>
                    <!--end ts-item-->
                </div>
                <!--end col-xl-4-->
                <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="ts-item" data-animate="ts-fadeInUp" data-delay=".3s" style="animation-delay: 0.3s; visibility: hidden;">
                        <div class="ts-item-content">
                            <div class="ts-item-header">
                                <figure class="icon">
                                    <img src="img/icon-pencil.png" alt="">
                                </figure>
                                <!--end icon-->
                            </div>
                            <!--end ts-item-header-->
                            <div class="ts-item-body">
                                <h4>Copy Writing</h4>
                                <p class="mb-0">
                                    Fusce lorem ex, fringilla eget consequat ut, molestie sit amet nibh. Nullam vitae tincidunt
                                </p>
                            </div>
                            <!--end ts-item-body-->
                            <div class="ts-item-footer">
                                <a href="#" data-toggle="modal" data-target="#modal" class="ts-link-arrow-effect">
                                    <span>Read More</span>
                                </a>
                            </div>
                            <!--end ts-item-footer-->
                        </div>
                        <!--end ts-item-content-->
                    </div>
                    <!--end ts-item-->
                </div>
                <!--end col-xl-4-->
                <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="ts-item" data-animate="ts-fadeInUp" data-delay=".4s" style="animation-delay: 0.4s; visibility: hidden;">
                        <div class="ts-item-content">
                            <div class="ts-item-header">
                                <figure class="icon">
                                    <img src="img/icon-lcd.png" alt="">
                                </figure>
                                <!--end icon-->
                            </div>
                            <!--end ts-item-header-->
                            <div class="ts-item-body">
                                <h4>Coding</h4>
                                <p class="mb-0">
                                    Aenean pretium nulla libero, vitae iaculis libero efficitur a. Fusce ut augue finibus quam
                                </p>
                            </div>
                            <!--end ts-item-body-->
                            <div class="ts-item-footer">
                                <a href="#" data-toggle="modal" data-target="#modal" class="ts-link-arrow-effect">
                                    <span>Read More</span>
                                </a>
                            </div>
                            <!--end ts-item-footer-->
                        </div>
                        <!--end ts-item-content-->
                    </div>
                    <!--end ts-item-->
                </div>
                <!--end col-xl-4-->
                <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="ts-item" data-animate="ts-fadeInUp" data-delay=".5s" style="animation-delay: 0.5s; visibility: hidden;">
                        <div class="ts-item-content">
                            <div class="ts-item-header">
                                <figure class="icon">
                                    <img src="img/icon-phone.png" alt="">
                                </figure>
                                <!--end icon-->
                            </div>
                            <!--end ts-item-header-->
                            <div class="ts-item-body">
                                <h4>App Developing</h4>
                                <p class="mb-0">
                                    Duis molestie enim mattis gravida viverra. Fusce ut eros augue. Sed id mauris vel neque
                                </p>
                            </div>
                            <!--end ts-item-body-->
                            <div class="ts-item-footer">
                                <a href="#" data-toggle="modal" data-target="#modal" class="ts-link-arrow-effect">
                                    <span>Read More</span>
                                </a>
                            </div>
                            <!--end ts-item-footer-->
                        </div>
                        <!--end ts-item-content-->
                    </div>
                    <!--end ts-item-->
                </div>
                <!--end col-xl-4-->

            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>