<section id="my-services" class="ts-block ts-xs-text-center pb-0">
    <div class="container">
        <div class="ts-title text-center">
            <h2>{{ with .Site.Params.service.headTitle }}{{ . | markdownify }}{{ end }}</h2>
        </div>
        <!--end ts-title-->
        <div class="row">
            {{ range $i,$e := .Site.Params.service.item }}
            <div class="col-sm-6 col-md-4 col-xl-4">
                <div class="ts-item" data-animate="ts-fadeInUp" data-delay=".{{$i}}s" style="visibility: hidden;">
                    <div class="ts-item-content">
                        <div class="ts-item-header">
                            <figure class="icon">
                                <img src="img/{{ .img }}" alt="">
                            </figure>
                            <!--end icon-->
                        </div>
                        <!--end ts-item-header-->
                        <div class="ts-item-body">
                            <h4>{{ .title }}</h4>
                            <p class="mb-0">
                                {{ .description }}
                            </p>
                        </div>
                        <!--end ts-item-body-->
                        <div class="ts-item-footer">
                            <a href="#" data-toggle="modal" data-target="#modal" class="ts-link-arrow-effect">
                                <span>Read More</span>
                            </a>
                        </div>
                        <!--end ts-item-footer-->
                    </div>
                    <!--end ts-item-content-->
                </div>
                <!--end ts-item-->
            </div>
            {{ end }}
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>