<section id="my-skills" class="ts-block pb-5">
    <div class="container">
        <div class="ts-title text-center">
            <h2>
                {{ with .Site.Params.skills.headTitle }}{{ . | markdownify }}{{ end }}
            </h2>
        </div>
        <!--end ts-title-->
        <h4>
            {{ with .Site.Params.skills.title }}{{ . | markdownify }}{{ end }}
        </h4>
        <div class="row">
            <div class="col-md-6">
                {{ range .Site.Params.skills.description }}
                <p>{{ .text | markdownify }}</p>
                {{ end }}
                <a href="#contact" class="btn btn-outline-light mb-5">Contact Me</a>
            </div>
            <!--end col-md-6-->
            <div class="col-md-6">
                {{ range .Site.Params.skills.item }}
                <div class="progress" data-progress-width="{{ .progress }}">
                    <h5 class="ts-progress-title">{{ .name }}</h5>
                    <figure class="ts-progress-value">{{ .progress }}</figure>
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                {{ end }}
                <!--end progress-->
            </div>
            <!--end col-md-6-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>