<section id="testimonials" class="ts-block text-center pb-5">
    <div class="container">
        <div class="ts-title">
            <h2>Testimonials</h2>
        </div>
        <!--end ts-title-->
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="owl-carousel owl-loaded owl-drag" data-owl-dots="1" data-owl-loop="1" data-animate="ts-fadeInUp"
                    style="visibility: hidden;">
                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(-1460px, 0px, 0px); transition: all 0s ease 0s; width: 4380px;">
                            <div class="owl-item cloned" style="width: 730px;">
                                <div class="slide mb-5">
                                    <figure class="d-inline-block p-3 ts-bg-primary text-white ts-has-talk-arrow">
                                        <i class="fa fa-quote-right"></i>
                                    </figure>
                                    <p class="ts-h5">
                                        In id nulla magna. Nullam posuere fermentum mattis. Nunc id dui at sapien
                                        faucibus
                                        fermentum ut vel diam. Nullam tempus, nunc id efficitur sagittis
                                    </p>
                                    <div class="ts-circle__lg mb-3" data-bg-image="img/person.jpg" style="background-image: url(&quot;img/person.jpg&quot;);"></div>
                                    <h5>Jane Doe</h5>
                                    <h6 class="ts-opacity__40">Bristol Creative</h6>
                                </div>
                            </div>
                            <div class="owl-item cloned" style="width: 730px;">
                                <div class="slide mb-5">
                                    <figure class="d-inline-block p-3 ts-bg-primary text-white ts-has-talk-arrow">
                                        <i class="fa fa-quote-right"></i>
                                    </figure>
                                    <p class="ts-h5">
                                        Nam egestas porta posuere. Nunc velit lorem, vestibulum vitae massa nec,
                                        lacinia dictum
                                        ligula. Quisque scelerisque nec dolor id convallis. Vestibulum porta ipsum
                                        pretium
                                        turpis rhoncus, non fringilla ipsum mattis.
                                    </p>
                                    <div class="ts-circle__lg mb-3" data-bg-image="img/person-02.jpg" style="background-image: url(&quot;img/person-02.jpg&quot;);"></div>
                                    <h5>John Brown</h5>
                                    <h6 class="ts-opacity__40">ABC Architects</h6>
                                </div>
                            </div>
                            <div class="owl-item active" style="width: 730px;">
                                <div class="slide mb-5">
                                    <figure class="d-inline-block p-3 ts-bg-primary text-white ts-has-talk-arrow">
                                        <i class="fa fa-quote-right"></i>
                                    </figure>
                                    <p class="ts-h5">
                                        In id nulla magna. Nullam posuere fermentum mattis. Nunc id dui at sapien
                                        faucibus
                                        fermentum ut vel diam. Nullam tempus, nunc id efficitur sagittis
                                    </p>
                                    <div class="ts-circle__lg mb-3" data-bg-image="img/person.jpg" style="background-image: url(&quot;img/person.jpg&quot;);"></div>
                                    <h5>Jane Doe</h5>
                                    <h6 class="ts-opacity__40">Bristol Creative</h6>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 730px;">
                                <div class="slide mb-5">
                                    <figure class="d-inline-block p-3 ts-bg-primary text-white ts-has-talk-arrow">
                                        <i class="fa fa-quote-right"></i>
                                    </figure>
                                    <p class="ts-h5">
                                        Nam egestas porta posuere. Nunc velit lorem, vestibulum vitae massa nec,
                                        lacinia dictum
                                        ligula. Quisque scelerisque nec dolor id convallis. Vestibulum porta ipsum
                                        pretium
                                        turpis rhoncus, non fringilla ipsum mattis.
                                    </p>
                                    <div class="ts-circle__lg mb-3" data-bg-image="img/person-02.jpg" style="background-image: url(&quot;img/person-02.jpg&quot;);"></div>
                                    <h5>John Brown</h5>
                                    <h6 class="ts-opacity__40">ABC Architects</h6>
                                </div>
                            </div>
                            <div class="owl-item cloned" style="width: 730px;">
                                <div class="slide mb-5">
                                    <figure class="d-inline-block p-3 ts-bg-primary text-white ts-has-talk-arrow">
                                        <i class="fa fa-quote-right"></i>
                                    </figure>
                                    <p class="ts-h5">
                                        In id nulla magna. Nullam posuere fermentum mattis. Nunc id dui at sapien
                                        faucibus
                                        fermentum ut vel diam. Nullam tempus, nunc id efficitur sagittis
                                    </p>
                                    <div class="ts-circle__lg mb-3" data-bg-image="img/person.jpg" style="background-image: url(&quot;img/person.jpg&quot;);"></div>
                                    <h5>Jane Doe</h5>
                                    <h6 class="ts-opacity__40">Bristol Creative</h6>
                                </div>
                            </div>
                            <div class="owl-item cloned" style="width: 730px;">
                                <div class="slide mb-5">
                                    <figure class="d-inline-block p-3 ts-bg-primary text-white ts-has-talk-arrow">
                                        <i class="fa fa-quote-right"></i>
                                    </figure>
                                    <p class="ts-h5">
                                        Nam egestas porta posuere. Nunc velit lorem, vestibulum vitae massa nec,
                                        lacinia dictum
                                        ligula. Quisque scelerisque nec dolor id convallis. Vestibulum porta ipsum
                                        pretium
                                        turpis rhoncus, non fringilla ipsum mattis.
                                    </p>
                                    <div class="ts-circle__lg mb-3" data-bg-image="img/person-02.jpg" style="background-image: url(&quot;img/person-02.jpg&quot;);"></div>
                                    <h5>John Brown</h5>
                                    <h6 class="ts-opacity__40">ABC Architects</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-nav disabled">
                        <div class="owl-prev"></div>
                        <div class="owl-next"></div>
                    </div>
                    <div class="owl-dots">
                        <div class="owl-dot active"><span></span></div>
                        <div class="owl-dot"><span></span></div>
                    </div>
                </div>
                <!--end owl-carousel-->
            </div>
            <!--end col-md-8-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>