<section class="ts-block" data-bg-image="img/bg-man-sitting.jpg" style="background-image: url(&quot;img/bg-man-sitting.jpg&quot;);">
    <div class="container ts-promo-numbers">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="ts-promo-number text-center">
                    <figure class="odometer odometer-auto-theme" data-odometer-final="43">
                        <div class="odometer-inside"><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span
                                    class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span
                                                class="odometer-value">0</span></span></span></span></span></div>
                    </figure>
                    <h5>Clients</h5>
                </div>
                <!--end ts-promo-number-->
            </div>
            <!--end col-md-3-->
            <div class="col-sm-6 col-md-3">
                <div class="ts-promo-number text-center">
                    <figure class="odometer odometer-auto-theme" data-odometer-final="68">
                        <div class="odometer-inside"><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span
                                    class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span
                                                class="odometer-value">0</span></span></span></span></span></div>
                    </figure>
                    <h5>Projects</h5>
                </div>
                <!--end ts-promo-number-->
            </div>
            <!--end col-md-3-->
            <div class="col-sm-6 col-md-3">
                <div class="ts-promo-number text-center">
                    <figure class="odometer odometer-auto-theme" data-odometer-final="17">
                        <div class="odometer-inside"><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span
                                    class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span
                                                class="odometer-value">0</span></span></span></span></span></div>
                    </figure>
                    <h5>Awards</h5>
                </div>
                <!--end ts-promo-number-->
            </div>
            <!--end col-md-3-->
            <div class="col-sm-6 col-md-3">
                <div class="ts-promo-number text-center">
                    <figure class="odometer odometer-auto-theme" data-odometer-final="12">
                        <div class="odometer-inside"><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span
                                    class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span
                                                class="odometer-value">0</span></span></span></span></span></div>
                    </figure>
                    <h5>Years Experience</h5>
                </div>
                <!--end ts-promo-number-->
            </div>
            <!--end col-md-3-->
        </div>
    </div>
</section>